.projects{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 60px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch; /*align cards to stretch equally*/
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

.card{
    width: 300px;
    height: 410px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    border-radius: 20px;
    padding: 10px;
    transition: all 1s ease;
    /* flex: 1 1 300px; */

    border: 2px solid var(--yellow);
    border-right: 2px solid rgb(231, 86, 86);
    border-left: 2px solid rgb(231, 86, 86);
}

.card:hover,
.card:focus{
    filter: drop-shadow(1px 1px 10px gray);
    transform: scale(1.02);
}

.card-img{
    width: 100%;
    min-height: 150px;
    border-radius: 20px;
    margin: 10px auto;
    object-fit: cover;
}

.card-title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    height: 100px;
    color: var(--hover-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tech-stack{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.tech-head{
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 2px;
    color: var(--yellow);
    text-align: center;
}

.underline{
    display: inline-block;
    margin-left: 1rem;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 2px;
    border-radius: 4px;
}

.tech-list{
    margin-left: 7rem;
    margin-bottom: 10px;
}

.tech-list li{
    list-style-type: none;
    text-align: left;
    padding: 2px 0;
    color: var(--white);
}

.tech-list li::marker{
    content: "👉 ";
}

.card-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    filter: drop-shadow(0px 0px 1px gray);
}

.card-btn .btn{
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 40%;
    background-color: var(--light-bg);
    cursor: pointer;
    border-radius: 30px;
    color: var(--white);
    transition: all 1s ease;
}

.card-btn .btn:hover,
.card-btn .btn:focus{
    color: var(--yellow);
    transform: scale(1.08);
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .card{
        margin-bottom: 10px;
    }
}

@media (max-width: 425px){
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        padding-bottom: 70px;
    }
    .card{
        width: 100%;
        margin-bottom: auto;
    }
}