.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: transparent;
    writing-mode: vertical-rl;
    padding: 10px;
}

/* Right side: copyright */
.copyright{
    font-size: 12px;
    color: var(--dark-grey);
    transform: rotate(180deg);
}

.clock {
    font-size: 12px;
    color: var(--white);
    transform: rotate(180deg);
    white-space: nowrap;
}

/* Responsive */
@media (max-width: 768px) {
    .footer{
        padding: 12px;
    }
    .copyright{
        font-size: 12px;
    }
}

@media (min-width: 425px){
    .footer{
        padding: 5px;
    }
    .copyright{
        text-align: center;
        font-size: 10px;
    }
}