.gal-container{
    padding: 40px;
    margin-top: 60px;
}

.gallery{
    column-count: 3;
    column-width: 33%;
    padding: 50px;
    /* optional: set max width to ensure it behaves well */
    max-width: 1200px;
    margin: 0 auto;
}

.gallery .pics{
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;

    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 3px;
    border-radius: 50px;

    border: 2px solid var(--yellow);
    border-right: 1px solid rgb(231, 86, 86);
    border-left: 1px solid rgb(231, 86, 86);

    filter: opacity(0.8);
}

.gallery .pics:hover,
.gallery .pics:focus{
    filter: drop-shadow(1px 1px 10px gray) opacity(1);
}

/* Responsive */
@media (max-width: 768px) {
    .gallery {
        column-count: 2;
    }
}

@media (max-width: 425px){
    .gallery{
        column-count: auto;
    }
}