*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('../public/images/bg/bg.jpg') center / cover no-repeat; */
  background-color: #333;
  /* background-attachment: fixed; */
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../public/images/bg/bg1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

:root{
  --white: white;
  --dark-grey: #ababab;
  --light-grey: #808080;
  --dark-bg: #222222;
  --light-bg: #333333;
  --yellow: #bac964;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --hover-color: rgb(82, 129, 155);
  --main-color: #00ffee;
  --dodger: dodgerblue;
}

html{
  overflow-x: hidden;
  overflow: auto;
  height: 100%;
  scroll-padding-top: 6rem; 
}

html::-webkit-scrollbar{
  width: 1rem;
  display: none;
}

html::-webkit-scrollbar-track{
  background: var(--white);
}

html::-webkit-scrollbar-thumb{
  background: var(--light-bg);
}
